.formContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-self: center;
  }
  
  .formRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .labelColumn {
    // flex: 1 1 100px;
    width: 200px;
   
  }
  .inputColumn {
    flex: 2 1 70px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .RulesDashboardButton {
    background-color: #00bcd4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #00bcd4;
    }
  }