.RulesDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
}

.RulesDashboardHeader {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.RulesDashboardInputLabel {
  font-size: 1.5rem;
  font-weight: bold;
}

.RulesDashboardInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-radius: 1rem;
  text-align: left;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.RulesDashboardInput {
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  width: 80%;
}

.RulesDashboardButton {
  background-color: #00bcd4;
  color: white;
  padding: 0.4rem 1.5rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 1rem auto;
  display: block;
}

.BackButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  position: absolute; 
  left: 3rem; 
  top: 8rem; 
  justify-content: end;
  font-size: 0.8rem;
  color: #000;
  margin-bottom: 2rem;
  padding: 0;

  span {
    margin-left: 5px;
    font-weight: bold;
  }
}

.SearchContainer {
  position: relative;
  width: 20%;
  margin-bottom: 1rem;
}

.SearchInput {
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 0.5rem 3.5rem 0.5rem 0.5rem;
  width: 100%;
  text-align: left;
}

.SearchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.FilteredRules {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 100;
  max-height: 200px;
  overflow-y: auto;
}

.FilteredRule {
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: #f1f1f1;
  }
}

.formRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.labelColumn {
  min-width: 150px;
  margin-right: 1rem;
}

.inputColumn {
  width: 140px;
  padding: 5px;
  margin: 0 auto;
  display: block;
}

.rulesDashboard__formRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.rulesDashboard__labelColumn {
  min-width: 150px;
  margin-right: 1rem;
}

.rulesDashboard__inputColumn {
  flex: 1;
}

.formContainer {
  width: 100%;
  max-width: 500px;
  margin-top: 10px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.formGroup {
  display: block;
  margin-bottom: 10px;

  .formLabel {
    display: block;
    margin-bottom: 5px;
  }

  .formSelect {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.submitButton {
  width: 100%;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.toggle-button {
  padding: 10px 20px;
  font-size: 1em;
}

.Button {
  background-color: #4cabf1;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s;
}

.Button:hover {
  background-color: #3999e3;
}

.AddButton {
  width: 100%;
  margin-top: 20px;
}

.RuleTypeButton {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ddd;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.RuleTypeButton:hover {
  background-color: #e0e0e0;
}

.RuleTypeButton.Active {
  background-color: #4cabf1;
  color: white;
  border-color: #3999e3;
}

.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Modal {
  background: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.ModalHeader {
  display: flex;
  justify-content: flex-end;
}

.CloseButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.ModalBody {
  margin-top: 10px;
}

.RuleTypeButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.SelectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.TableContainer {
  width: 100%;
  max-width: 1200px;
}



// .RulesDashboard {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   margin-top: 2rem;
//   padding: 2rem;
// }

// .RulesDashboardHeader {
//   font-size: 2rem;
//   margin-bottom: 2rem;
// }

// .RulesDashboardInputLabel {
//   font-size: 1.5rem;
//   font-weight: bold;
// }

// .RulesDashboardInputContainer {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
//   padding: 2rem;
//   border-radius: 1rem;
//   text-align: left;
//   width: 100%;
//   max-width: 500px;
//   margin: auto;
// }

// .RulesDashboardInput {
//   border: 1px solid #ccc;
//   border-radius: 0.4rem;
//   padding: 0.5rem 1.5rem;
//   margin: 0.5rem;
//   flex-grow: 1;
//   width: 80%;
// }

// .RulesDashboardButton {
//   background-color: #00bcd4;
//   color: white;
//   padding: 0.4rem 1.5rem;
//   border: none;
//   border-radius: 0.4rem;
//   font-size: 1.1rem;
//   cursor: pointer;
//   width: auto;
//   margin: 1rem auto;
//   display: block;
// }

// .BackButton {
//   background-color: transparent;
//   border: none;
//   cursor: pointer;
//   display: flex;
//   position: absolute;
//   left: 3rem;
//   top: 8rem;
//   justify-content: end;
//   font-size: 0.8rem;
//   color: #000;
//   margin-bottom: 2rem;
//   padding: 0;
// }

// .BackButton span {
//   margin-left: 5px;
//   font-weight: bold;
// }

// .SearchContainer {
//   position: relative;
//   width: 100%;
//   max-width: 400px;
//   margin-bottom: 1rem;
// }

// .SearchInput {
//   border: 1px solid #ccc;
//   border-radius: 0.4rem;
//   padding: 0.5rem 3.5rem 0.5rem 0.5rem;
//   width: 100%;
//   text-align: left;
// }

// .SearchIcon {
//   position: absolute;
//   left: 10px;
//   top: 50%;
//   transform: translateY(-50%);
//   cursor: pointer;
// }

// .FilteredRules {
//   position: absolute;
//   background-color: white;
//   border: 1px solid #ccc;
//   border-radius: 0.4rem;
//   padding: 0.5rem;
//   width: 100%;
//   top: 100%;
//   left: 0;
//   z-index: 100;
//   max-height: 200px;
//   overflow-y: auto;
// }

// .FilteredRule {
//   padding: 0.5rem;
//   cursor: pointer;
// }

// .FilteredRule:hover {
//   background-color: #f1f1f1;
// }

// .formRow {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   margin-bottom: 1rem;
// }

// .labelColumn {
//   min-width: 150px;
//   margin-right: 1rem;
// }

// .inputColumn {
//   width: 140px;
//   padding: 5px;
//   margin: 0 auto;
//   display: block;
// }

// .rulesDashboard__formRow {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   margin-bottom: 1rem;
// }

// .rulesDashboard__labelColumn {
//   min-width: 150px;
//   margin-right: 1rem;
// }

// .rulesDashboard__inputColumn {
//   flex: 1;
// }

// .formContainer {
//   width: 100%;
//   max-width: 500px;
//   margin-top: 10px;
// }

// .formContainer h2 {
//   text-align: center;
//   margin-bottom: 20px;
// }

// .formGroup {
//   display: block;
//   margin-bottom: 10px;
// }

// .formLabel {
//   display: block;
//   margin-bottom: 5px;
// }

// .formSelect {
//   width: 100%;
//   padding: 8px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
// }

// .submitButton {
//   width: 100%;
//   padding: 10px 15px;
//   background-color: #007bff; /* Uncommented and updated */
//   color: white;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   margin-top: 20px;
// }

// .button-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 10px;
// }

// .toggle-button {
//   padding: 10px 20px;
//   font-size: 1em;
// }

// .submitButton {
//   width: 100%;
//   padding: 10px 15px;
//   background-color: #007bff; /* Uncommented and updated */
//   color: white;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   margin-top: 20px;
// }

// .button-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 10px;
// }

// .toggle-button {
//   padding: 10px 20px;
//   font-size: 1em;
// }

// .Button {
//   background-color: #4cabf1;
//   color: white;
//   border: none;
//   padding: 10px 20px;
//   cursor: pointer;
//   border-radius: 5px;
//   font-size: 16px;
//   margin: 5px;
//   transition: background-color 0.3s;
// }

// .RuleTypeButton {
//   background-color: #f0f0f0;
//   color: #333;
//   border: 1px solid #ddd;
//   padding: 10px 20px;
//   cursor: pointer;
//   border-radius: 5px;
//   margin: 5px;
//   font-size: 16px;
//   transition: background-color 0.3s;
// }

// .RuleTypeButton.Active {
//   background-color: #4cabf1;
//   color: white;
//   border-color: #3999e3;
// }

// .ModalBody {
//   margin-top: 10px;
// }

// .RuleTypeButtons {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 20px;
// }

// .SelectContainer {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
