.RoomsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RoomsPageHeader {
  font-size: 2rem; /* scalable units */
  margin-bottom: 2rem;
}

.RoomsPageButton {
  background-color: #00bcd4;
  color: white;
  padding: 0.4rem 1.5rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 1rem;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .RoomsPageButton {
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }

  .RoomsPageHeader {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .RoomsPageHeader {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .RoomsPageButton {
    padding: 0.2rem 0.8rem;
    font-size: 0.9rem;
  }

  .RoomsPageInputContainer {
    padding: 1rem;
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: center;
  }

  .RoomsPageInput {
    padding: 0.3rem 1rem;
    width: 90%; /* More screen-relative sizing */
  }

  .SearchIcon {
    left: 18rem; /* Adjust icon position for smaller screens */
  }
}

/* High-DPI Devices (Retina Displays) */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  /* Enhance styles for high resolution displays */
  .RoomsPageButton {
    font-size: 1.2rem; /* Slightly larger text on high DPI screens */
  }
}
