@import "../../styles/utils/utils";

.Header {
  box-shadow: 0 2px 12px 0 $LIGHT_SHADOW;
  background: #fff;
  padding: 25px 15px;
  margin: auto;
  box-sizing: border-box;

  .HeaderContainer {
    display: flex;
    flex-direction: column; // Stacks items vertically by default
    align-items: flex-start;
    max-width: $MAX_WIDTH;
    margin: auto;
  }

  .TopBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-view {
      display: contents; // Changes to 'contents' on mobile, consider if this meets your design goals

      &.open {
        display: flex; // Ensures flex layout when 'open'
      }
    }
  }

  .AppName {
    font-weight: bold;
    font-size: 1.3rem;

    &::after {
      content: "";
      margin-left: 10px;
      border-right: 1px solid #000;
    }
  }

  .Navigation {
    display: block; // Shows by default

    @include mobile-view {
      display: none; // Hides navigation on mobile

      &.open {
        display: block; // Shows navigation when 'open' class is added on mobile
      }
    }
  }

  .MenuBtn {
    display: none; // Hides by default

    @include mobile-view {
      display: block; // Shows the menu button on mobile
      margin-left: auto;
    }
  }

  .UserGreeting {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: auto;
    font-weight: bold;
  }

  // Define mixins for mobile views directly in utils or globally if used across multiple components
  @mixin mobile-view {
    @media (max-width: 768px) {
      @content;
    }
  }

  // Additional styles for Modal, motionIcon, and ActiveNavLink can be defined here if necessary
  .Modal {
    // Modal styles...
  }

  .motionIcon {
    // Motion icon styles...
  }

  .ActiveNavLink {
    // Active navigation link styles...
  }
}
